body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}

a.brand {
    color: white;
    font-weight: bold;
}

a.brand .title {
    color: #3787ff;
}

.container-fluid > .sidebar {
    position: absolute;
    right: 20px;
    top: 0;
    width: 220px;
}

.container-fluid > .content {
    margin-right: 240px;
}

.sidebar-nav-fixed {
    position:fixed;
    top:60px;
    width:21.97%;
}

@media (max-width: 767px) {
    .sidebar-nav-fixed {
        width:auto;
    }
}

@media (max-width: 979px) {
    .sidebar-nav-fixed {
        position:static;
       width: auto;
    }
}

#view-controls {
    position:fixed;
    top: 220px;
    right: 22px;
}

#view-controls button {
    width: 120px;
}

#filter-log-text {
    width: 320px;
}

.hiddenbypause {
    display: none;
}

.filteredout {
    display: none;
}

.logview.row {
    padding-left: 30px;
}

.logview.row .modal {
    z-index: 1;
    position: relative;
    width: auto;
    margin-left: 0;
    margin-bottom: 10px;
    top: auto;
    left: auto;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}

.logview.row .attribs {
    padding-top: 5px;
    padding-bottom: 5px;
}

.logview.row .when {
    display: block;
    float: left;
    font-size: 12px;
}

.logview.row .loglevel {
    display: block;
    float: right;
    font-size: 13px;
    font-variant: small-caps;
}

.logview.row .loglevel .logtag {
    font-variant: normal;
}

.logview.row code {
    font-size: 13px;
    white-space: normal;
    background-color: none;
    border: 0 solid;
}


